<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">


    <b:bean id="encoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
        
    <b:bean id="myAuthenticationSuccessHandler"
                class="com.mycompany.capstoneproject.utilities.MySimpleUrlAuthenticationSuccessHandler" />
    
    <http pattern="/login" security="none"/>
    <!--<http pattern="/" security="none"/>-->
    <http pattern="/css/**" security="none"/>
    <http pattern="/js/**" security="none"/>
    <http auto-config="true" use-expressions="false">
        <csrf disabled="true"/>
        <form-login login-processing-url="/j_spring_security_check"
                    login-page="/"
                    authentication-failure-url="/login?login_error=1"
                    authentication-success-handler-ref="myAuthenticationSuccessHandler"/>
       
        
        <intercept-url pattern="/home" access="ROLE_ADMIN"/>
        <intercept-url pattern="/home" access="ROLE_AUTHOR"/>
        <intercept-url pattern="/home" access="ROLE_USER"/>
        <intercept-url pattern="/blog/" access="ROLE_ADMIN"/>
        <intercept-url pattern="/blog/waitingApproval" access="ROLE_ADMIN"/>
        <intercept-url pattern="/blog/imagetest" access="ROLE_ADMIN"/>
        <intercept-url pattern="/blog/edit/**" access="ROLE_ADMIN"/>
        <intercept-url pattern="/blog/create" access="ROLE_ADMIN"/>
        <intercept-url pattern="/adminPanel/**" access="ROLE_ADMIN"/>
        <intercept-url pattern="/static/**" access="ROLE_ADMIN"/>
        <intercept-url pattern="/categories" access="ROLE_ADMIN"/>
        
        <logout logout-url="/logout" logout-success-url="/"/>
        
    </http>

    
    <authentication-manager>
        
        <authentication-provider>
            <!--<password-encoder ref="encoder"/>-->
            <jdbc-user-service id="userService" data-source-ref="dataSource"
                               users-by-username-query="select name, password, enabled from user where name=?"
                               authorities-by-username-query="select u.name, a.type
                                                              from authorities a inner join user u on a.user_id = u.id
                                                              where u.name = ?"
            />
            
        </authentication-provider>
        
    </authentication-manager>
    
</b:beans>